<div class="row my-3">
    <div class="col-lg-3">
        <span class="h2">Task List</span>
    </div>
</div>

<div class="row my-3">
    <div class="col-lg-3">
        <input class="form-control" [(ngModel)]="newTaskText" (keyup.enter)="add()" type="text"
            required>
    </div>
    <div class="col-2">
        <button class="btn btn-primary btn-wide" (click)="add()" [disabled]="!newTaskText.length">Add</button>
    </div>
</div>

<div class="row my-3">
    <div class="col-lg-3">
        <ul class="list-group" cdkDropList (cdkDropListDropped)="drop($event)">
            <li class="list-group-item text-large" *ngFor="let task of tasks; let i = index;" cdkDrag>
                <input type="checkbox" class="checkbox-big mr-2" [(ngModel)]="task.done" (change)="save()">
                <span class="task-text">{{task.text}}</span>
                <button class="btn btn-danger float-right" (click)="deleteTask(i)">Delete</button>
            </li>
        </ul>
    </div>
</div>